.numberIncrementGroup {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(2, 1fr);

  .numberIncrement-num {
    font-size: 3rem;
    min-width: 75px;
  }
}

.numberIncrement-adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  font-size: 2rem;
}

.numberIncrement-title {
  font-size: 14px;
  text-align: center;
}

.numberIncrement-num {
  padding: 0.375rem 0 0 5px; //offset letter-spacing
  min-width: 6.25rem;
  text-align: center;
}

.numberIncrement-change {
  padding: 1rem 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brand-primary;
    outline: 0;
  }

  &[disabled] {
    color: $gray-600;

    &:hover,
    &:focus {
      color: $gray-600;
    }
  }
}

.numberIncrement-change--prevented[disabled] {
  color: $red;

  &:hover,
  &:focus {
    color: $red;
  }
}
