
.numberIncrement {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 200px;
	padding: 1rem;
	font-size: 2rem;
}

.numberIncrement-num {
	padding: 0 0.5rem;
	font-size: 3rem;
	line-height: 1em;
}

.numberIncrement-change {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;

	&:hover, &:focus {
		color: $brand-primary;
	}
}