{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  },
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0
  }
}
