{
	"parser": "babel-eslint",
	"plugins": [
		"react"
  ],
	"extends": "airbnb",
	"globals": {
		"document": true,
		"window": true,
		"localStorage": true
	},
  "rules": {
    "no-console": 0,
		"indent": ["error", "tab"],
		"jsx-indent": [2, "tab"],
    "no-tabs": 0
  }
}