// List Component

// List Grouping
.list-group {
	margin: 1rem 0;
}

// Individual List
.list {
	display: flex;
	padding: 1rem 0;
	border: 1px solid $gray-lightest;
	border-left: 0;
	border-right: 0;

	& + & {
		border-top: 0;
	}
}

.list-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 1 100px;
	padding: 0 1rem;
}

.list-content {
	flex: 5 1 700px;
	padding: 0 1rem 0 0;
}

.list-actions {
	flex: 1 1 145px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-content-meta {
	display: flex;
	flex-wrap: wrap;
	color: $gray-lightest;

	strong {
		color: $body-color;
	}

	& + & {

	}
}

.list-content-meta-item {
	// padding-right: 1em;
	// border-right: 1px solid;

	strong {
		font-weight: normal;
	}

	&::after {
		content: '|';
		display: inline-block;
		padding: 0 0.5rem;
	}

	&:last-child::after {
		display: none;
	}

	& + & {

	}
}