
.cardList {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: $spacer-y;
	padding: 1rem;
	background: $gray-dark;

	// & + & {
	// 	margin-top: 1rem;
	// }
}

.cardList-name {
	color: $brand-primary;
	font-weight: bold;
}

.cardList-desc {
	font-size: 0.875rem;
}

.cardList-meta {
	margin-top: 1rem;
	color: $gray-light;
	font-weight: bold;
	font-size: 0.875rem;
}

.cardList-meta-item {
	display: inline-block;
	margin-right: 1rem;
}