.cardList {
  display: block;
  // margin-bottom: $spacer;
  padding: 1rem;
  background: $gray-800;

  // & + & {
  // 	margin-top: 1rem;
  // }

  &:hover,
  &:focus {
    background: $gray-900;
    cursor: pointer;
  }
}

.cardList-header {
  display: flex;
  align-items: center;

  .icon {
    flex: 0 0 auto;
    width: 15px;
    height: 15px;

    &:first-child {
      margin-right: $spacer / 2;
    }

    &:last-child {
      margin-left: $spacer / 2;
    }
  }
}

.cardList-header-name {
  flex: 1 1 auto;
  color: $brand-primary;
  font-weight: bold;
}

.cardList-desc {
  font-size: 0.875rem;
}

.cardList-meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  color: $gray-600;
  font-weight: bold;
  font-size: $font-size-sm;
}

.cardList-meta-item {
  display: flex;
  margin-right: $spacer;

  &:last-child {
    margin-right: 0;
  }
}

.cardList-meta-item-label {
  margin-right: $spacer / 4;
}

.cardList-meta-item-value {
  color: $gray-200;
}
