.widget {
  display: flex;
  flex-direction: column;
  background: $gray-dark;
  // margin-bottom: $spacer-y;
}

.widget-header {
  padding: 0.25rem 0.5rem;
  background: $gray-darker;
  color: #fff;
}

.widget-header--link {
  background: $gray-light;
}

.widget-content {
  flex: 1 1 auto;
  padding: 1rem;

  @at-root button#{&}, a#{&} {
    display: block;
    width: 100%;
    text-align: left;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      background: rgba($brand-primary, 0.14);
      outline: none;
    }
  }
}
