.icon {
  display: block; // Block removes the weird vertical padding due to inline
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.icon--stroke {
  stroke: currentColor;
}

.icon--yellow {
  fill: theme-color("primary");
}

.icon--white {
  fill: $gray-200;
}

.icon--12 {
  width: 12px;
  height: 12px;
}

.icon--16 {
  width: 16px;
  height: 16px;
}
.icon--18 {
  width: 18px;
  height: 18px;
}

.icon--24 {
  width: 24px;
  height: 24px;
}
