.icon {
  display: block; // Block removes the weird vertical padding due to inline
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.icon--stroke {
  stroke: currentColor;
}

.icon--yellow {
  fill: theme-color("primary");
}

.icon--white {
  fill: $gray-200;
}
