.loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $body-bg;
  z-index: $zindex-loading;

  svg {
    width: 42px;
    height: 30px;
  }

  path,
  rect {
    fill: $brand-primary;
  }
}

.loadingSpinner--absolute {
  position: absolute;
  height: 100%;
}

.loadingSpinner--text {
  position: fixed;
  height: 170px;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);

  svg {
    margin-bottom: 1rem;
  }
}
