.promo {
  position: relative;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 3rem;
}

.splash {
  margin: 2rem auto;
  padding: 2%;

  > svg {
    width: 138px;
    height: 167px;
    fill: $gray-dark;
  }

  h1 {
    font-size: 54px;
    font-weight: bold;
  }

  p {
    color: $gray-lightest;
    font-size: 13px;
  }
}

.modal-video {
  max-width: 854px;
}

.videoWrpr {
  margin: 2rem auto;
  max-width: 854px;
}

.vimeo {
  // position: relative;
  // margin: 0 auto;
  // max-width: 854px;
  // padding: 0;
  // padding-top: 56.21%;
  // width: 100%;
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer {
  position: absolute;
  bottom: .5rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: $gray-lightest;
}