.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: $menu-button-width;
  color: $white;
  background: #000;
  // background: $brand-primary;

  // @include breakpoint(l) {
  // 	left: $menu-width;
  // 	width: calc(100% - #{$menu-width});
  // }
}

.header-title {
  flex: 2 1 auto;
  padding: 0.5rem;
  text-align: center;

  // @include breakpoint(l) {
  // 	text-align: left;
  // }
}

.header-actions {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0 $spacer/2;
  display: flex;
  align-items: center;

  &:first-child {
    left: 0;
  }
  &:last-child {
    right: 0;
  }
}

.header-action {
  display: block;
  border: 0;
  background: none;
  padding: $spacer/2;
  color: $gray-600;
  transition: background 0.3s ease-out;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 0;
    background: hsla(0, 0%, 0%, 0.12);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.headerModal {
  position: fixed;
  overflow: hidden;
  top: 50px;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: $zindex-headerModal;
  visibility: hidden;
  padding: 1rem;
  background: hsla(0, 0%, 0%, 0.94);
  transition: opacity 0.35s ease-in, bottom 0.2s ease-in;

  &.is-active {
    visibility: visible;
    bottom: 0;
    opacity: 1;
    // animation: in 0.15s 0.3 forwards;
    // transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.headerModal-links {
  a {
    position: relative;
    transform: translateY(-200%);
    opacity: 0;
    display: block;
    color: #fff;
    + a {
      margin-top: 1rem;
    }
  }
}
.headerModal.is-active .headerModal-links {
  @for $i from 1 through 15 {
    a:nth-of-type(#{$i}) {
      animation: in 0.15s 0s + $i/20 forwards;
      transition-timing-function: ease-in;
    }
  }
}

@keyframes in {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
