
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $gray-dark;
}

.header-title {
	padding: 1.5rem 1rem;
	text-transform: uppercase;
	color: $body-color;
}

.header-title--primary {
	color: $brand-primary;
	background: $gray;
}

.header-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem;
}

.header-actions a {
	display: block;
	padding: 0.125rem;
	color: $gray-lightest;
	font-size: 14px;
}