
.layoutLog {

	@supports (display: grid) {
		display: grid;
		grid-column-gap: $grid-gutter-width-base/2;
		grid-row-gap: $grid-gutter-width-base/2;
		grid-template-columns: 1fr 1fr 1fr;
	}

	& > * {
		grid-column: span 3;
		margin: 0;
	}
}

.survivalLimit,
.lanternYear,
.population,
.innovations,
.principles,
.milestones,
.locations,
.deathCount,
.defeatedMonsters {
	grid-column: span 1;
}
