.layout--login {
  min-height: 100vh;
  grid-template-columns: 1fr minmax(100px, 350px) 1fr;
  align-content: center;

  > * {
    grid-column-start: 2;
  }
}

.login-logo {
  text-align: center;
  margin-bottom: 2rem;

  img {
    max-width: 100px;
  }
}

.login-form {
  position: relative;
}

// .inputForm {
//   position: relative;

//   & + & {
//     margin-top: 0.5rem;
//   }

//   .fa {
//     position: absolute;
//     top: 50%;
//     left: 0.5rem;
//     color: #e0e0e0;
//     transform: translateY(-50%);
//   }
// }

// input {
// 	border: 0;
// 	padding: 0.5rem;
// 	background: #757575;
// 	font-weight: bold;
// 	width: 100%;

// 	&:focus {
// 		outline: none;
// 		box-shadow: inset 0 0 0 1px $brand-primary;
// 	}

// 	&::placeholder {
// 		color: $gray-700
// 	}

// 	.fa + & {
// 		padding-left: 2.25rem;
// 	}
// }

// #_Path_8 {
//   animation: blink 2.4s infinite;
// }
// #_Compound_Path_4 {
//   animation: squeeze 2.4s infinite;
// }

// @keyframes blink {
// 	90% {
// 		transform: none;
// 		animation-timing-function: ease-in;
// 	}
// 	93% {
// 		transform: translateY(5px) scaleY(0)
// 	}
// 	100% {
// 		animation-timing-function: ease-out;
// 	}
// }
// @keyframes squeeze {
// 	90% {
// 		transform: none;
// 		animation-timing-function: ease-in;
// 	}
// 	93% {
// 		transform: translateY(3px) scaleY(0.8)
// 	}
// 	100% {
// 		animation-timing-function: ease-out;
// 	}
// }
