// ---
// # Toggle
// --

.toggle {
  & + & {
    padding-top: $spacer / 4;
    //   padding-top: 1rem;
    //   margin-top: 1rem;
    //   border-top: 1px solid $gray-700;
  }
}

.toggle-label {
  margin-right: 1rem;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background: $gray-600;
  color: #fff;

  &.is-active {
    background: theme-color("primary");
  }

  &:focus {
    outline: 0;
  }

  .icon {
    width: 12px;
    height: 12px;
    margin: 1px 0px 0 0;
  }
}
