// <div class="statGroup">
//   <div class="stat">
//     <div class="stat-num">1</div>
//     <div class="stat-milestone"></div>
//     <div class="stat-title"></div>
//   </div>
// </div>

.statGroup {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stat {
  // flex: 1 1 100px;
  // probably used for statgroup?
  padding: 0 0.25rem;
  text-align: center;
}

.stat-num {
  font-size: 2.5rem;
  line-height: 1em;
}

.stat-milestone {
  display: flex;
  justify-content: center;
}

.stat-title {
  font-size: 10px;
}
