// <div class="statGroup">
//   <div class="stat">
//     <div class="stat-num">1</div>
//     <div class="stat-milestone"></div>
//     <div class="stat-title"></div>
//   </div>
// </div>

.statAttribute {
  color: $brand-primary;
  font-size: 12px;
  text-align: center;
  margin-top: 0.5rem;
}

.statGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.stat {
  position: relative;
  // flex: 1 1 100px;
  // probably used for statgroup?
  padding: 0 0.25rem;
  text-align: center;
}

.stat-num {
  font-size: 2.5rem;
  line-height: 1em;
}

.stat-milestone {
  display: flex;
  justify-content: center;
}

.stat-title {
  font-size: 10px;
}

.statIcon {
  position: absolute;
  left: 100%;
  width: 8px;
  height: 8px;
  background: $brand-primary;
}

.statIcon--gear {
  top: 3px;
  border-radius: 2px;
}

.statIcon--token {
  border-radius: 50%;
  top: 3px + 8px + 4px;
}