@keyframes in {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  // 50% {
  //   transform: translateY(-100%);
  //   opacity: 0.2;
  // }
  75% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear-up {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
