// Button

.btn {
  // font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-out;

  &:focus {
    opacity: 0.87;
    box-shadow: none;
  }
}

.btn-primary {
  color: #fff;
}

.btn-link {
  color: #fff;
  text-decoration: underline;
}

// Button Group

a:focus {
  outline: 0;
}

.btn-group--full {
  width: 100%;

  > .btn {
    flex: 1 1 100px;
  }
}
