html {
	height:100%;
}

body {
	min-height:100%;
	// background: $gray-dark;
	// font-family: 'Ruda', sans-serif;
}

::selection {
	background: hsla(0, 0%, 0%, 0.28);
	text-shadow: none;
}

.btn {
	transition: background 0.2s ease-out;
}

.app {
	overflow-x: hidden;
	@include breakpoint(l) {
		margin-left: $menu-width;
	}
}

.main {
	padding: calc(1rem + #{$menu-button-width}) 1rem 0;
}

// Widget --- this belongs in a component after finalized

.widgetOld {
	background: $gray-light;
	padding: 1rem
}

// Graphs --- this belongs in a component after finalized

.tugGraph-labels {
	display: flex;
	justify-content: space-between;
}

progress {
	color: $brand-primary;
	background: $gray-lighter;
	width: 100%;
	height: 2rem;
	border: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
	background: $gray-lighter;
}

progress::-webkit-progress-value {
	background: $brand-primary;
}

// Button

.btn {
	font-weight: bold;
}

// Button Group

.btn-group--full {
	width: 100%;

	> .btn {
		flex: 1 1 100px;
	}
}


// Update Model

.modal-title {
	flex: 1 1 auto;
	font-size: 1.75rem;
	text-align: center;
	color: #fff;
}

.modal-footer {
	padding: 0;
	display: flex;

	> .btn {
		flex: 1 1 auto;
	}
}


// EXPERIMENTAL BELOW

// Custom item group floating
.input-group-addon--floating {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: none;
	color: $gray-dark;

	+ .form-control {
		padding-left: 40px;
	}
}

// Because bootstrap doesn't seem to like placeholder.

.form-control::-webkit-input-placeholder  {
	color: $input-color-placeholder;
}

// Icons

// .svg--primary {
// 	fill: red;
// 	stroke: red;

// 	svg {
// 		fill: red;
// 		stroke: red;
// 	}
// }

.svg-flag {
	width: 25px;
}


// Temporary box widget

.box {
  background: $gray-dark;
}

.box-header {
  padding: 0.25rem 0.5rem;
  background: $gray-light;
  color: #fff;
}

.box-content {
	flex: 1 1 auto;
  padding: 1rem;

	@at-root button#{&}, a#{&} {
		display: block;
		width: 100%;
		text-align: left;
		color: inherit;
		background: none;
		border: none;
		cursor: pointer;
		transition: background 0.2s ease-out;

		&:hover,
		&:focus {
			text-decoration: none;
			background: rgba($brand-primary, 0.14);
			outline: none;
		}
	}
}


// Temporary box widget container

.boxGroup {
	display: flex;
	width: 100%;

	> .box {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		margin: 0 0.5rem 1rem;
	}
}

// Remove Highlight focus

button {
  outline: none !important;
}
