html {
  height: 100%;
}

body {
  min-height: 100%;
  // padding-bottom: 100px;
  // background: $gray-800;
  // font-family: 'Ruda', sans-serif;
}

::selection {
  background: hsla(0, 0%, 0%, 0.28);
  text-shadow: none;
}

.app {
  overflow-x: hidden;
}

.main {
  padding-top: $menu-button-width;
}

.mainNav ~ .main {
  padding-bottom: $nav-height;
}

// .layoutContent {
//   padding-top: $menu-button-width;
// }

.layout {
  display: grid;
  padding: $spacer;
  grid-gap: $spacer;
  grid-template-columns: repeat(6, 1fr);

  > * {
    grid-column-end: span 6;
  }
}

// .layout--resources {
//   grid-template-columns: repeat(3, 1fr);
// }

// .layout--gear {
//   grid-template-columns: repeat(2, 1fr);
// }

// .layout--log {
//   grid-template-columns: 1fr;
// }

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

// Widget --- this belongs in a component after finalized

.widgetOld {
  background: $gray-600;
  padding: 1rem;
}

// Graphs --- this belongs in a component after finalized

.tugGraph-labels {
  display: flex;
  justify-content: space-between;
}

progress {
  color: $brand-primary;
  background: $gray-200;
  width: 100%;
  height: 2rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
  background: $gray-200;
}

progress::-webkit-progress-value {
  background: $brand-primary;
}

// Update Model

.modal.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  .modal-dialog {
    flex: 1 1 auto;
    padding: $spacer;
    margin: auto;
  }
}

.modal-content {
  background: none;
}

.modal-header {
  background: $modal-content-bg;
}

.modal-body {
  background: $modal-content-bg;
}

.modal-header {
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.modal-title {
  flex: 1 1 auto;
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
}

.modal-footer {
  display: block;
  padding: 0;

  .btn {
    display: block;
    width: 100%;
    margin: 0;
  }
}

// Headings
h3 {
}

h4 {
  color: $gray-600;
  margin: 0;
}

// Navs

.header + .nav-tabs {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;

  + * {
    margin-top: 34px;
  }
}

.nav-tabs {
  display: flex;
  background: $black;
  font-size: $font-size-sm;
  text-align: center;
  color: $gray-600;

  .nav-item {
    flex: 1 1 auto;
  }

  .nav-link {
    color: $gray-600;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-link.active {
  box-shadow: inset 0 -4px 0px theme-color("primary");

  &:not([href]):not([tabindex]) {
    box-shadow: inset 0 -4px 0px theme-color("white");
  }
}

.tab-pane {
  // padding: $spacer;
}

.linkGroup {
  display: flex;
  justify-content: space-between;
}

// EXPERIMENTAL BELOW

// input:-webkit-autofill {
//   background: red !important;
// }

// Custom item group floating
.input-group-addon--floating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: none;
  color: $gray-800;

  + .form-control {
    padding-left: 40px;
  }
}

// Because bootstrap doesn't seem to like placeholder.

// .form-control::-webkit-input-placeholder {
//   color: $input-placeholder-color;
// }

// Icons

// .svg--primary {
// 	fill: red;
// 	stroke: red;

// 	svg {
// 		fill: red;
// 		stroke: red;
// 	}
// }

.svg-flag {
  width: 25px;
}

// Temporary box widget

.box {
  background: $gray-800;
}

.box-header {
  padding: 0.25rem 0.5rem;
  background: $gray-600;
  color: #fff;
}

.box-content {
  flex: 1 1 auto;
  padding: 1rem;

  @at-root button#{&}, a#{&} {
    display: block;
    width: 100%;
    text-align: left;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      background: rgba($brand-primary, 0.14);
      outline: none;
    }
  }
}

// Temporary box widget container

.boxGroup {
  display: flex;
  width: 100%;

  > .box {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
  }
}

// btnSelect

.btnSelect {
  position: relative;

  label {
    margin: 0;
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-transform: capitalize;
  }
}

.btnDeselect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray-600;
  color: #fff;
  padding-left: $spacer;
}
