html {
	height:100%;
}

body {
	min-height:100%;
	// background: $gray-dark;
	font-family: 'Ruda', sans-serif;
}

.page {
	@include breakpoint(m) {
		margin-left: $menu-width;
	}
}

.main {
	padding: 1rem;
}

// Widget --- this belongs in a component after finalized

.widget {
	background: $gray-light;
	padding: 1rem
}

// Graphs --- this belongs in a component after finalized

.tugGraph-labels {
	display: flex;
	justify-content: space-between;
}

.tugGraph-progress {
	width: 100%;
	-webkit-appearance: none;
}


// EXPERIMENTAL BELOW

// Custom item group floating
.input-group-addon--floating {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: none;
	color: $gray-dark;

	+ .form-control {
		padding-left: 40px;
	}
}

// Because bootstrap doesn't seem to like placeholder.

.form-control::-webkit-input-placeholder  {
	color: $input-color-placeholder;
}

// Icons

// .svg--primary {
// 	fill: red;
// 	stroke: red;

// 	svg {
// 		fill: red;
// 		stroke: red;
// 	}
// }

.svg-flag {
	width: 25px;
}