// Variables
// @import "../node_modules/bootstrap/scss/mixins";
@import "_main_variables";
@import "_utilities";

// Reset and dependencies
@import "../node_modules/bootstrap/scss/bootstrap";

// Temp, waiting for https://github.com/twbs/bootstrap/pull/21741 to get merged in.
input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}


// Custom Components
@import "../src/components/Aya/Aya";
@import "../src/components/Banner/Banner";
@import "../src/components/BoxList/BoxList";
// @import "../src/components/Button/button";
@import "../src/components/CalebComponent/caleb_component";
@import "../src/components/CardList/CardList";
@import "../src/components/Header/header";
@import "../src/components/Icon/Icon";
@import "../src/components/List/list";
@import "../src/components/Milestone/Milestone";
@import "../src/components/Nav/nav";
@import "../src/components/NotFound/not_found";
@import "../src/components/Stats/Stats";
@import "../src/components/Splash/Splash";
@import "../src/components/Toggle/Toggle";
@import "../src/components/Widget/Widget";

// Custom Containers
@import "../src/containers/Home/home";
@import "../src/containers/Login/login";
@import "../src/containers/Survivor/Survivor";
@import "../src/containers/World/world";

// Custom Layouts
@import "_layout";
