// Variables
// @import "../node_modules/bootstrap/scss/mixins";
@import "_main_variables";
@import "_utilities";

// Reset and dependencies
@import "node_modules/bootstrap/scss/bootstrap";

// Temp, waiting for https://github.com/twbs/bootstrap/pull/21741 to get merged in.
input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}

// Bootstrap Overrides / General

@import "./buttons";
@import "./forms";

@import "./animations";

// Custom Layouts
@import "_layout";

// Custom Components
@import "../src/containers/Aya/Aya";
@import "../src/components/Banner/Banner";
@import "../src/components/CardList/CardList";
@import "../src/components/Header/header";
@import "../src/components/Icon/Icon";
@import "../src/components/List/list";
@import "../src/components/LogRecord/LogRecord";
@import "../src/components/MilestoneDots/MilestoneDots";
@import "../src/components/Nav/nav";
@import "../src/components/NumberIncrement/NumberIncrement";
@import "../src/components/NotFound/not_found";
@import "../src/components/Stats/Stats";
@import "../src/components/Splash/Splash";
@import "../src/components/TextList/TextList";
@import "../src/components/Toggle/Toggle";
@import "../src/components/Widget/Widget";
@import "../src/components/LoadingSpinner/LoadingSpinner";

// Custom Containers
@import "../src/containers/Home/home";
@import "../src/containers/Login/login";
@import "../src/containers/Settlement/Settlement";
@import "../src/containers/World/world";

// Scenes
@import "../src/scenes/Survivor/Survivor";