.mainNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 75px;
	height: 100%;
	background: $color-dark;
	text-align: center;

	ol, li {
		display: block;
		margin: 0;
		padding: 0;
	}
}

.mainNav-link {
	display: block;
	padding: 1rem 0.25rem;
	color: $sidebar-text-color;
	text-decoration: none;
	font-size: 0.625rem;

	&:hover, &:focus {
		background: $color-grey;
		color: #fff;
		text-decoration: none;
	}

	&.is-active {
		background: $color-primary;
		color: #fff;
	}
}

.mainNav-link-icon {
	font-size: 2rem;
	line-height: 1em;
	margin-bottom: 0.25rem;
}

.subNav {
	position: fixed;
	top: 0;
	left: 75px;
	overflow: hidden; // hides the active state
	width: 200px;
	padding: 2rem 1rem;
	height: 100%;
	background: $color-grey;
	text-align: left;

	li + li{
		margin-top: 1rem;
	}

	a {
		position: relative;
		display: block;
		padding: 0;
		color: #fff;
		text-decoration: none;
		font-size: 0.625rem;
		transition: padding 0.3s ease-out;

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			height: 100%;
			width: 2px;
			background: #fff;
			opacity: 0;
			transition: all 0.3s ease-out;
		}

		.fa {
			display: block;
			font-size: 2rem;
			margin-bottom: 0.25rem;
		}

		&:hover, &:focus {
			background: $color-grey;
			color: #fff;
			padding-left: 0.5rem;

			&::before {
				opacity: 1;
				left: 0;
			}
		}

		&.is-active {
			padding-left: 0.5rem;
			color: #fff;

			&::before {
				opacity: 1;
				left: 0;
				background: $color-primary;
			}
		}
	}
}
