.layout--survivor {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-areas: "survival    bleeding      bleeding      hunt"
    "courage     understanding understanding weapon"
    "stats       stats         stats         stats"
    "armor       armor         armor         armor"
    "arts        arts          disorders     disorders"
    "abilities   abilities     abilities     abilities"
    "impairments impairments   impairments   impairments"
    "notes       notes         notes         notes";
}

.survivorSurvival {
  grid-area: survival;
}
.survivorBleeding {
  grid-area: bleeding;
}
.survivorHunt {
  grid-area: hunt;
}
.survivorCourage {
  grid-area: courage;
}
.survivorUnderstanding {
  grid-area: understanding;
}
.survivorWeapon {
  grid-area: weapon;
}
.survivorStats {
  grid-area: stats;
}
.survivorArmor {
  grid-area: armor;
}
.survivorArts {
  grid-area: arts;
}
.survivorDisorders {
  grid-area: disorders;
}
.survivorAbilities {
  grid-area: abilities;
}
.survivorImpairments {
  grid-area: impairments;
}
.survivorNotes {
  grid-area: notes;
}

// Survival

.survivalSkills {
  margin: 0.5rem;
  text-align: center;

  span {
    display: inline-block;
    padding: 0.5rem;
    color: $gray-600;

    &.is-active {
      color: #fff;
    }
  }
}
